/* css样式重置 */
body,p,h1,h2,h3,h4,h5,h6,h4{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: none;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #3c3c3c;
}
i{
    font-style: normal;
}
input{
    margin: 0;
    padding: 0;
}
button{
    margin: 0;
    padding: 0;
    /* 取消点击后出现蓝色的框 */
    outline: none;
}

table{
    /* 边框模式：边框合并 */
    border-collapse: collapse;
}
th,td{
    padding: 0;
}

body{
    /* 设置字体 */
    /* "\5b8b\4f53" 表示宋体 */
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    color: #3c3c3c;
    background-color: #f4f4f4;
}

/* 清除浮动 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.layer{
    width: 1190px;
    margin: 0 auto;
}

.c4{
    color: #ff4400;
}

.c5{
    color: #ff5500;
}

.c6{
    color: #8d7afb;
}

.c7{
    color: #a8c001;
}

.mt{
    margin-top: 10px;
}

.mr7{
    margin-right: 7px;
}

.mr5{
    margin-right: 5px;
}
.mt10{
    margin-top: 10px;
}